# HTTP SERVER
HOST=localhost
PORT=3000

# POSTGRES
PGHOST=localhost
PGUSER=postgres
PGDATABASE=forumapi_test
PGPASSWORD=password
PGPORT=5432
# PGSSLMODE=no-verify # can be "require", "no-verify" or just empty
# PGSSLROOTCERT=certs/global-bundle.pem # cert file location

# TOKENIZE
ACCESS_TOKEN_KEY=secret
REFRESH_TOKEN_KEY=terces
ACCESS_TOKEN_AGE=3600
