# HTTP SERVER
HOST=localhost
PORT=3000

# POSTGRES
PGHOST=localhost
PGUSER=postgres
PGDATABASE=forumapi_test
PGPASSWORD=password
PGPORT=5432

# TOKENIZE
ACCESS_TOKEN_KEY=secret
REFRESH_TOKEN_KEY=terces
ACCCESS_TOKEN_AGE=3600
